﻿
#dcwrapper
{
  font-family :Calibri;
}

.canvas-container
{
  z-index: 1000;

}
canvas
{
  /*border: 2px solid red;*/
  

}


#paintCntnr
{
  
  
  background-color:rgba(0,0,0,0.6);
  position: absolute;
  right:14px;
  height: 143px;
  width: 55px; /*background-color:rgba(80, 80, 80, .8);*/
  top: 14px;
  border-radius:8px;
  padding: 2px;
  line-height: normal;
  z-index: 1010;
  border:1px solid #ffffff;
  /*opacity:0.25;*/
   
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}
  #paintCntnr:hover
  {
  opacity:1; 
    
  }
#paintItm-wrapper
{
  margin-left: -1px;
}
.paintItm-wrapper
{
  
  width: 100%;
  height: 100%;
  border: 1px solid green;
  
}
.cronerTB 
{
  position:absolute;
  top:10px; 
  right:0px; 
  height:40px; 
  width:120px;
  background-color:rgba(0,0,0,0.6);
  border-radius:5px;
  
  padding:10px;
  padding-top:20px;
  

  z-index: 1010;
   
}
.cronerTB .blueBtn 
{
  display:inline;
  cursor:pointer;
  position:relative;
  opacity:0.8;
  color:White;
  font-weight:bold;
   padding:10px; margin:5px; 
   border-radius:5px;
   border:1px solid #ccc;
  font-size:15px;
   
 }
 .cronerTB .blueBtn:hover 
 {
   opacity:1;
   background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/y3/x/Uy0S-JwLSOj.png);background-repeat:no-repeat;background-size:auto;background-position:-1px -245px;background-color:#5b74a8;border-color:#29447e #29447e #1a356e
 }
 

/*.paintItm { width:32px; height:32px; background-position:left; position:relative; top:0px; background-image:url('chrome-extension://ppinaacophckhhgoadnepefiephhppkk/img/paintBtn.png'); }*/


.paintItm
{
 	display: inline-block;
	color: #666;
  background-repeat:no-repeat;
  background-position:center;
	font-weight:bold;
   padding:10px; margin:5px; 
	padding: 15px 30px;
	border-radius:8px;
	border: 1px solid #ccc;
  background-color:transparent;
  margin-top:3px;

}
.paintItm:hover
{
	border: 1px solid #c1c1c1;
  cursor: pointer;
}
.paintItm:active
{
  background-color: #c1c1c1;
	cursor: pointer;
}
.paintItm.pencil
{
  padding: 0;
  height: 39px;
  width:48px;
  border:0;
  background-position:left;
  background-image: url('chrome-extension://ppinaacophckhhgoadnepefiephhppkk/img/pencil32g39.png');
}
  .paintItm.pencil.selected
  {
    background-position:right;
  }
  .paintItm.txt
{
  padding: 0;
height: 39px;
width:48px;
         border:0;
  background-position:left;
    
  background-image: url('chrome-extension://ppinaacophckhhgoadnepefiephhppkk/img/txt32g39.png');
}
.paintItm.txt.selected
  {
 background-position:right;
  }

.paintItm.save
{
  background-image: url('chrome-extension://ppinaacophckhhgoadnepefiephhppkk/img/save32.png');
}
.paintItm.slctd
{
 background-position:right;
}

  .paintItm.plain
  {
    border:1px solid #ffffff;
    color:#ffffff;
    padding:4px 6px;
    font-size:15px;
    font-weight:300;
    height:28px;
    width:60px;
      
   
    
  }

.paintItm.btns-ok-cncl
{
  padding:3px 4px;
   margin-left:-2px;
   background-color:rgba(0,0,0,0.6);
}

.color-picker
{
  display: inline-block;
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-box-shadow: 0px 1px 5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 1px 5px rgba(0,0,0,0.75);
  -o-box-shadow: 0px 1px 5px rgba(0,0,0,0.75);
  box-shadow: 0px 1px 5px rgba(0,0,0,0.75);
  border-radius: 8px;
  
  
}

.paltBtn
{
  cursor: pointer;
  position: absolute;
right: -10px;
margin-top: 10px;
  width: 60px;
  height: 36px;
  margin-top: -20px;
  
  content: "";
  background-repeat: no-repeat;
  opacity: 0.5;
  
  
  float: right; /* background-image:url('chrome-extension:// ppinaacophckhhgoadnepefiephhppkk/img/palletThumb.png');*/
  background-image: url('chrome-extension://ppinaacophckhhgoadnepefiephhppkk/img/drawing-icon.png');
  
}

.paltBtn:hover
{
  opacity: 1;
}


#pathgallery
{
  position:absolute;
  right:0px;
  width:300px; top:0px; bottom:0px;
  background-color:#fff;
  z-index:1100;
}

#pathgallerySearch
{
  width:70%;
  float:left;
  border-radius:5px; 
  
  
  }

#pathgallerySearchBtn
{
  float:left;
  }

#pathgallery .resultsArea
{
  
  }
#pathgallery .resultsArea img 
{
 width:240px; 
  }

.no-seleciton
{
  -webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
  }
  
  #dcTxtElCntnr
  {
    position:absolute;
    right:80px;
    width:400px;
    top:14px;
    height:34px;
    display:none;
    z-index:1100;
    
    }
    
    #dcTxtEl
    {
      height:20px;
      outline:0;
      border-radius:8px;
      font-size:15px;
      display:inline;
      margin:2px auto;
       width:320px;
      padding:4px;
      background-color:transparent;
      border:1px solid #fff;
        background-color:rgba(0,0,0,0.6);
        color:#fff;
    }
    
    #color-pickerStroke 
    {
     margin-left:30px;
     margin-top:-30px; 
    }



#progressBar
{
  background-image:url("chrome-extension://ppinaacophckhhgoadnepefiephhppkk/img/progressBar.gif");
  background-position:center;
  background-repeat:no-repeat;
  position:absolute;
  z-index:1500;
  top:0px;
  display:none;
  
}
#btnSavTxt
{
  display:inline;
 height:31px;
 padding:4px 5px;
  background-color:rgba(0,0,0,0.6);
  width:55px;
  font-weight:normal;
}


#cmntpuDOM
{
  color:#fff;
  position: absolute;
  padding:7px;
  top: 25%;
  left: 50%;
  z-index: 1550;
  width: 280px;
  margin-left: -120px;
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid #fff;

  border-radius: 8px;
  outline: none;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding-box;
          background-clip: padding-box;
             
}
#cmntpuDOM .putitle
{
  font-size:16px;
  display:block;
  padding:5px;
  margin-left:10px;
}
#cmntpuDOM #cmntbody
{
  height:80px;
  width:240px;
  background:transparent;
  border:2px solid #ccc;

  border-radius: 8px;
  outline: none;
  color:white;
  font-size:16px; 
  margin-left:15px;

}
  #cmntpuDOM #cmntsubmit
  {
    width:110px;
    margin-left:15px;
    display:inline;

  }
  #cmntpuDOM #cmntcncl
  {
    width:110px;

    margin-left:25px;
    display:inline;
  }


.blurd
{
  -webkit-filter:grayscale(100%) blur(5px)
}

.custom-cursor
{

  cursor:url('chrome-extension://ppinaacophckhhgoadnepefiephhppkk/img/pencil.cur'), default !important;
}

.colorContainer
{
  margin-top:6px;
width: 44px !important;
height: 35px !important;
margin-left: 5px !important;
  border:2px solid #ffffff;
  border-radius: 8px !important;

}

#color-pickerFill, #color-pickerStroke
{
  border:1px solid #000;
  height: 33px !important;
  width:42px  !important;
  border-radius: 8px !important;
}